.content{
    background: var(--color-primary-1);
    width: 100%;
    /* padding: 20px; */
    min-height: 300px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    padding-left: 6rem;
    padding-right: 6rem;
    /* margin-bottom: 909px; */

}

.content .titleSection{
  color: var(--color-icon-1);
  font-size: 43px;
  margin-top: 43px;
  margin-bottom: 40px;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* fonto triangulo */
.content::before{
  content: '';
  /* width:; */
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  /* background-color: #f7f7f7; */
  /* background-image: linear-gradient(43deg, #ee0a8f 0%, #6b02b1 46%, #e60462 100%); */
  opacity: 0.12;
  filter: blur(10px);
  border-left: 900px solid rgba(63, 63, 63, 0.5);
  border-top: 0px solid transparent;
  border-bottom: 900px solid transparent;
  /* z-index: 1; */
}

.title_buscas_legal h2{
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 900;
  font-size: 40px;
  text-align: center;

  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 72px; */
  font-weight: bold;
}
.listCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem,1fr));
  /* align-items: center; */
  gap: 23px;
}
.card{
    display: flex;
    flex-direction: column;
    /* background-color: silver; */
    border-width: 2px;
    border-color: rebeccapurple;
    border-style: solid;
    border-radius: 12px;
    /* padding: 10px 5px 0px 1px; */
    background-size: cover;
    position: relative;
    z-index: 10;
}

/* background-color: #4158d0;
background-image: linear-gradient(132deg, #4158d0 0%, #d513c8 100%); */

.card {
    
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--color-primary); */
    /* background-image: linear-gradient(90deg, var(--color-primary) 0%); */
/* color: rgb(255, 255, 255);     */

    /* justify-items: end; */
    /* animation: float 4s ease-in-out infinite; */
  }

  .conten_imga_card{
    width: 100%;
    overflow: hidden;
    
    /* position: absolute; */
  display: flex;
  align-items: flex-end;
  border-radius: 0 150px 12px 12px;
    
  }
  .conten_imga_card img{
    border-radius:15px 500px 12px 12px;
    object-fit: cover;

  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
.title{
    margin-top: 12px;
    margin-bottom: 8px;
    text-align: justify;
    color: var(--color-primary);
}

.description{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: justify;
    color: rgb(78, 56, 90);

}

.contactContent{
    min-width: 200px;
    /* background: var(--color-primary); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 3px; */

}
.icon{
    color: var(--color-icon-2);
    background-color: var(--color-primary-2) ;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: wave 6s ease-in-out infinite;
}

.icon:hover{
    color: rgb(255, 255, 255);
    font-size: 45px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.contact{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-2);
}

.location{
    display: flex;
    gap:12px;
    margin: 13px;
    color: rgb(124, 124, 124);
}

.location div i{
    color: rgb(124, 124, 124);

}

.sectionDescription{
  text-align: justify;
  margin: 12px;
  margin-bottom: 25px;
  font-size: 1.2rem;
  
}

.logoSection::before{
    width: 150px;
    height: 200px;
    opacity: 0.2;
    content: '';
    position: absolute;
    background-image: url("../../public/logo_justicia.png");
    background-size: cover;
    z-index: 5;
}

/* media queries */

@media (max-width:769px){
    .content{
      padding: 0;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .icon{
      border-radius: 0;
      background: transparent;
    }
    .contact{
      color: white;
    }
    .contactContent{
      background-color: var(--btn-bg-1);
      margin: 12px;
      height: 50px;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      
    }
}


/* ----------razones por las que necesito un abogoadi secion ---*/

.contentRazones{
  position: relative;
  margin-top: 100px;
}

.conteCardsRazones{
  padding-top: 20px;
  padding-bottom: 20px;
  /* background: black ; */
  position: relative;
  opacity: 1;
  z-index: 3;
}

.conteCardsRazones::before{
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  background-image: url("../../public/bgrazones.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}
.bgDark{
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.titleRazones{
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-2));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 3rem;
  
}

.cardRazones{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background: royalblue; */
  gap: 10px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top:5px;
}

.cardRazones i{
  color: chartreuse;
  font-size: 30px;
}

.textRazon{
  text-align: left;
  color: aliceblue;
  /* text-align: center; */
  font-size: 1.15rem;
  margin-bottom: 5px;
  /* text-overflow: ellipsis; */
}