.content{
    /* background: rebeccapurple; */
    /* height: 300px; */
    width: 100%;
    /* margin-bottom: 200px; */
}


.content_title h2{
    font-size: 43px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_all_esferas{
    /* background-color: rgb(172, 172, 172); */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1fr, 1fr));
    justify-items: center;
}

/* esperas */
.content_espera{

    /* background: red; */
    display: flex;
    position: relative;
}

.content_detail{
    position: absolute;
    min-width:calc(40vw);
    left: 110px;
    
    /* background-color: goldenrod; */
}
.content_detail .title{
    font-weight: 600;
    margin-bottom: 7px;
    color:var(--color-text-2);
}

.content_detail .description{
    color: var(--color-text-4);
    text-align: justify;
}
.espera1, .espera2, .espera3, .espera4{
    clip-path: circle(50% at 50% 50%);
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}

.linea1, .linea2, .linea3, .linea4{
    width: 5px;
    background-color:blue;
    height: 100px;

}

/* ------- */
/* Media queries */

@media (max-width:768px){
    .content_esferas{
        padding-left: 6rem;
        padding-right: 6rem;

    }
    .content_detail{
        min-width:calc(60vw);
    }
    .conttainer_box{
        /* background: rebeccapurple; */
        display: flex;
        justify-content: space-around;
        margin-left: calc(-14vw);
        
    }
}